@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* Sets font-family for document */
* {
  font-family: "Anton", sans-serif !important;
}

/* Sets background color on body */
body {
  background-color: #fffffa;
}


header {
  background-color: #780000;
  padding: 10px;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  color: #fffffa;
}

/* Styles the large jumbotron image */
.jumbotron {
  height: 50vh;
  background: url(../images/bar-wall.jpg) no-repeat center center fixed;
  background-size: cover;
  margin-bottom: 20px;
}

.jumbotron h2 {
  font-size: 70px;
  width: auto;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  color: #fffffa;
}

/* Sets height of the thumbnail image */
img {
  max-height: 80%;
}
